<h1>Main Page</h1>
<form action="articles/search">
    <input type="Text" placeholder="Search by title" name="search">
  <input type="Submit" value="Submit"/>
</form>
<h2>Articles List</h2>
<table>
  <tr>
    <th>Title</th>
  </tr>
<% @articles.each do|article|%>
  <tr>

    <td><a href="articles/<%=article.id%>"> <%= article.title%></a></td>

  </tr>
      <%end %>

</table>



<h2>Tags List</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @tags.each do|tag|%>
      <tr>
        <td><a href="tags/<%=tag.id%>"><%= tag.name%></a> </td>
      </tr>
  <%end %>

</table>
